embed, footer, iframe, object, .legacy, .push, .search-container, #feedback-container, #globalNav, #rightcolumn, #utilityNav, .leftcol h3, .leftnav ul li a, .leftnav h3, .leftcol ul li a, .ribbon-bottom, .rightcol, .span2.leftcol, .accordionNav.secondary-page-menu, .leftnav li {
	display: none;
}
a:link:after, a:visited:after {
	content: '';
}
.leftnav {
	width: 100%;
}
.span3.leftnav {
	width: 100%;
	margin-left: 15px !important;
}
.span4.logo {
	width: 100%;
	text-align: center;
}
.span7, .span8 {
	width: 95%;
}
.span9 {
	width: 100% !important;
}
